.qtc_clangd/
Build/
Deploy/
SevROVCore/SevROVClient/.vs/
SevROVCore/SevROVClient/packages/
SevROVCore/SevROVClient/SevROVClient/bin/
SevROVCore/SevROVClient/SevROVClient/obj/
SevROV.pro.user.478fd3b
SevROV.pro.user
